
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
  font-size: 52px;
  color: rgb(255, 0, 0);
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}

.min-width--button{
  min-width:125px
}
